.screen {
  -webkit-text-stroke: 1.2px rgb(0, 0, 0);
  font-size: 25px;
  width: 98%;
  height: 20%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: rgb(255, 189, 189);
  color: rgb(255, 255, 255);
};

@media (max-width: 750px){
  .screen {
    min-height: 41px;
  }
}